@model GlobalApp2.Models.AboutViewModel;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>@Model.company</h1>
</body>
</html>
